@model LabProjeto.Models.PerfilJogos

@{
    ViewData["Title"] = "Apagar";
}

<h1>Apagar Compra</h1>

<h3>Você tem a certeza que quer apagar a sua compra do histórico?</h3>
<div>
    <h4>PerfilJogos</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Perfil
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.perfil.utilizadorId)
        </dd>
        <dt class = "col-sm-2">
            Jogo
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.jogo.Nome)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-dark pb-2" /> |
        <a asp-action="Index" class="btn btn-dark pb-2">Voltar à Lista</a>
    </form>
</div>
