@model IEnumerable<LabProjeto.Models.JogoModel>

@{
    ViewData["Title"] = "Lista de Jogos Comprados";
}

<h1>Lista de Jogos Comprados</h1>


<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Preço</th>
            <th>Plataforma</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var jogo in Model) {
        <tr>
                <td>@jogo.Nome</td>
                <td>@jogo.Preco</td>
                <td>@jogo.plataforma</td>
        </tr>
}
    </tbody>
</table>
