@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Comfirmação de Registo";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    Não consegui fazer o envio de email.
    --><a id="confirm-link" href="@Model.EmailConfirmationUrl">Click here to confirm your account</a>
</p>
    }
    else
    {
<p>
        Por Favor Verifica a tua caixa de correio
</p>
    }
}

