@model LabProjeto.Models.PerfilModel

@{
    ViewData["Title"] = "Detalhes de Perfil";
}

<h1>Detalhes</h1>

<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.utilizador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.utilizador.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.saldo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.saldo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" class="btn btn-dark pb-2" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index" class="btn btn-dark pb-2">Back to List</a>
</div>
