@model LabProjeto.Models.JogoCategoria

@{
    ViewData["Title"] = "Create";
}

<h1>Adicionar</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Jogo</label>
                <select asp-for="jogoId" class ="form-control" asp-items="ViewBag.jogoId"></select>
            </div>
            <div class="form-group">
                <label  class="control-label">Categoria</label>
                <select asp-for="categoriaId" class ="form-control" asp-items="ViewBag.categoriaId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Adicionar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar à Lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
