@model IEnumerable<LabProjeto.Models.JogoModel>

@{
    ViewData["Title"] = "Página Inicial";
}

<div class="top-header">
    <div class="welcome-header">
        <div class="welcome-text">
            Procure os jogos perfeitos para si
        </div>
        <div>
            <a class="catalog-button" asp-controller="JogoModels" asp-action="Index">Catalogo</a>
        </div>
         
        
    </div>
    <div class="column-picture" >
        <img src="https://t3.ftcdn.net/jpg/02/86/94/26/360_F_286942684_qNv56oMpDnIqCr8t6IrvA1EAcHEi9oAq.jpg" class="welcome-picture" />
    </div>

</div>

<div class="categories">
    <div class="categories-title">
        Categorias
    </div>
    <div class="scroll-menu">
        @{
            var displayedCategories = new List<string>();
        }
            @foreach (var item in Model) 
            {
            if (!displayedCategories.Contains(item.categoria.Nome))
            {
                // Add the category to the list
                displayedCategories.Add(item.categoria.Nome);

                <div class="scroll-menu-content" >
                    
                    <div class="category-name">
                        
                        <a asp-controller="JogoModels" asp-action="VerCategorias" asp-route-id="@item.categoriaId" class="btn row">
                            
                            <img src="/Fotos/Categorias/@item.categoria.Foto" class="game-picture row" height="130" width="100" />
                        </a>
                    </div>
                </div>
            }
        }

        
    </div>
</div>

<div class="recomended-label">
    Jogos
</div>

<div class="recomended-games">
    <style>
                    body {
              margin: 0px;
            }

            .box {
              background-color: #444;
              color: #fff;
              border-radius: 5px;
              padding: 10px;
              font-size: 100%;
              width=130;
              height=130;
            }

            .box:nth-child(even) {
              background-color: #ccc;
              color: #000;
            }

              .wrapper {
                width: 600px;
                display: grid;
                grid-gap: 10px;
                grid-template-columns: repeat(4, 300px);
              }
</style>
    <div class="wrapper pb-5">
        @foreach (var item in Model)
        {
            <div class="box btn" >

                <a asp-action="Details" asp-controller="JogoModels" asp-route-id="@item.Id">
                    <img src="/Fotos/Jogos/@item.Foto" class="game-picture" height="120" width="120" />    
                </a>
            </div>

        }
    </div>

</div>

 
