@model IEnumerable<LabProjeto.Models.JogoModel>

@{
    ViewData["Title"] = "Home Page";
}

<div class="top-header">
    <div class="welcome-header">
        <div class="welcome-text">
            Procure os jogos perfeitos para si
        </div>
        <div>
            <a class="catalog-button" asp-controller="JogoModels" asp-action="Index">Catalogo</a>
        </div>
         
        
    </div>
    <div class="column-picture" >
        <img src="https://t3.ftcdn.net/jpg/02/86/94/26/360_F_286942684_qNv56oMpDnIqCr8t6IrvA1EAcHEi9oAq.jpg" class="welcome-picture" />
    </div>

</div>

<div class="categories">
    <div class="categories-title">
        Categorias
    </div>
    <div class="scroll-menu">
        @{
            var displayedCategories = new List<string>();
        }
            @foreach (var item in Model) 
            {
            if (!displayedCategories.Contains(item.categoria.Nome))
            {
                // Add the category to the list
                displayedCategories.Add(item.categoria.Nome);

                <div class="scroll-menu-content" >
                    
                    <div class="category-name">
                        @Html.DisplayFor(modelItem => item.categoria.Nome)
                        <a asp-controller="JogoModels" asp-action="VerCategorias" asp-route-id="@item.categoriaId" class="btn">
                            <img src="https://c4.wallpaperflare.com/wallpaper/919/449/166/battlefield-battlefield-1-gas-mask-wallpaper-preview.jpg" class="game-picture" height="130" width="100" />
                        </a>
                    </div>
                </div>
            }
        }

        
    </div>
</div>

<div class="recomended-label">
    Jogos
</div>

<div class="recomended-games">
    <div class="games-row">

    </div>
    <div class="scroll-menu">
        @foreach (var item in Model)
        {
                    <div class="scroll-menu-content" >

                        
                        <div class="btn"> 
                            <a asp-action="Details" asp-controller="JogoModels" asp-route-id="@item.Id">
                            <img src="http://media.steampowered.com/apps/csgo/blog/images/fb_image.png?v=6" class="game-picture" height="130" width="100" />    
                            </a>
                             @Html.DisplayFor(modelItem => item.Nome)
                        </div>

                    </div>

        }
    </div>

</div>

 
