@{
    ViewData["Title"] = "Home Page";
}

<div class="top-header">
    <div class="welcome-header">
        <div class="welcome-text">
            Procure os jogos perfeitos para si
        </div>
        <button class="catalog-button">
            Catálogo
        </button>
    </div>
    <div class="column-picture">
        <img src="https://t3.ftcdn.net/jpg/02/86/94/26/360_F_286942684_qNv56oMpDnIqCr8t6IrvA1EAcHEi9oAq.jpg" class="welcome-picture"/>
    </div>
</div>

<div class="categories">
    <div class="categories-title">
        Categorias
    </div>

    <div class="scroll-menu">
        <div class="scroll-menu-content">
            <img src="https://c4.wallpaperflare.com/wallpaper/919/449/166/battlefield-battlefield-1-gas-mask-wallpaper-preview.jpg" class="game-picture" height="130" width="100" />
            <div class="category-name"> FPS </div>
        </div>
        <div class="scroll-menu-content">
            <img src="https://sm.ign.com/ign_in/screenshot/default/ss-b89407f1c799fbf33731c5efee9ef0bbbf9dbef61920x1080_hmyz.jpg" class="game-picture" height="130" width="100"/>
            <div class="category-name"> Sports Games </div>
        </div>
        <div class="scroll-menu-content">
            <img src="https://www.gamersdecide.com/sites/default/files/styles/news_images/public/ori-2-intro-steam-pic.jpg" class="game-picture" height="130" width="100"/>
            <div class="category-name"> Platformers </div>
        </div>
        <div class="scroll-menu-content">
            <img src="https://cdn.mos.cms.futurecdn.net/DV2BLz8bDh95mUuJZizxPW.jpg" class="game-picture" height="130" width="100" />
            <div class="category-name"> Souls Like </div>
        </div>
        <div class="scroll-menu-content">
            <img src="https://cdn.givemesport.com/wp-content/uploads/2022/06/001-Best-Mobile-Racing-Games-1920x1080-1.jpg" class="game-picture" height="130" width="100" />
            <div class="category-name"> Racing Games </div>
        </div>
        <div class="scroll-menu-content">
            <img src="https://www.gamingscan.com/wp-content/uploads/2021/07/palia-mmorpg.jpg" class="game-picture" height="130" width="100" />
            <div class="category-name"> MMORPGs </div>
        </div>
        <div class="scroll-menu-content">
            <img src="https://www.pcgamesn.com/wp-content/sites/pcgamesn/2020/05/best-story-games.jpg" class="game-picture" height="130" width="100" />
            <div class="category-name"> Story Driven Games </div>
        </div>
        <div class="scroll-menu-content">
            <img src="https://i.ytimg.com/vi/0sgy8c_x7kg/maxresdefault.jpg" class="game-picture" height="130" width="100" />
            <div class="category-name"> Farming Games </div>
        </div>

    </div>
    
    
</div>
    
<div class="recomended-label">
        Recomendados para si
</div>

<div class="recomended-label-text">
    <div>
        Receba a chave para o seu jogo favorito
    </div>
</div>


<div class="recomended-games">
    <div class="games-row" >
            <div class="scroll-menu">
                <div class="scroll-menu-content">         
                </div>             
                <div class="scroll-menu-content">
                    <img src="http://media.steampowered.com/apps/csgo/blog/images/fb_image.png?v=6" class="game-picture" height="130" width="100"/>
                    <div class="game-name"> CSGO </div>
                    <div class="games-price"> 19.99€ </div>
                </div>
                <div class="scroll-menu-content">
                <img src="https://s1.gaming-cdn.com/images/products/10545/616x353/fifa-23-pc-jogo-origin-cover.jpg?v=1665157647" class="game-picture" height="130" width="100" />
                    <div class="game-name"> Fifa 23 </div>
                    <div class="games-price"> 69.99€ </div>
                </div>
                <div class="scroll-menu-content">
                <img src="https://wallpapersqueen.com/wp-content/uploads/2021/11/Elden-Ring-Background-Pictures-1024x576.jpeg" class="game-picture" height="130" width="100" />
                    <div class="game-name"> Elden Ring </div>
                    <div class="games-price"> 69.99€ </div>
                </div>
                <div class="scroll-menu-content">
                <img src="https://s2.gaming-cdn.com/images/products/268/orig/the-witcher-3-wild-hunt-pc-jogo-gog-com-cover.jpg?v=1650526691" class="game-picture" height="130" width="100" />
                    <div class="game-name"> Witcher 3 </div>
                    <div class="games-price"> 29.99€ </div>
                </div>
                <div class="scroll-menu-content">
                <img src="https://img.redbull.com/images/c_limit,w_1500,h_1000,f_auto,q_auto/redbullcom/2017/10/26/c12d0d43-4943-4cd3-ab1b-3cf654452046/super-mario-odyssey-5-secrets" class="game-picture" height="130" width="100" />
                    <div class="game-name"> Super Mario Odyssey </div>
                    <div class="games-price"> 49.99€ </div>
                </div>
                <div class="scroll-menu-content">
                <img src="https://s2.gaming-cdn.com/images/products/2143/orig/forza-motorsport-7-pc-xbox-one-xbox-series-x-s-pc-xbox-one-xbox-series-x-s-jogo-microsoft-store-europe-cover.jpg?v=1653562158" class="game-picture" height="130" width="100" />
                    <div class="game-name"> Forza 7 </div>
                    <div class="games-price"> 39.99€ </div>
                </div>
                 <div class="scroll-menu-content">
                <img src="https://assets.nintendo.com/image/upload/c_fill,w_1200/q_auto:best/f_auto/dpr_2.0/ncom/pt_BR/games/switch/c/celeste-switch/hero" class="game-picture" height="130" width="100" />
                    <div class="game-name"> Celeste </div>
            <div class="games-price"> 15.49€ </div>
                </div>
                 <div class="scroll-menu-content">
                <img src="https://cdn.akamai.steamstatic.com/steam/apps/413150/capsule_616x353.jpg?t=1666917466" class="game-picture" height="130" width="100" />
                    <div class="game-name"> Stardew Valley </div>
            <div class="games-price"> 9.99€ </div>
                </div>
                <div class="scroll-menu-content">
                <img src="https://images.alphacoders.com/117/thumb-1920-1173124.jpg" class="game-picture" height="130" width="100" />
                    <div class="game-name"> God Of War Ragnarok </div>
                    <div class="games-price"> 49.99€ </div>
                </div>
                </div>
            </div>
        

    </div>




