@{
    ViewData["Title"] = "Privacidade";
}
<h1>@ViewData["Title"]</h1>

<p> Segunda Entrega para EXAME</p>
<p>Este Website foi desenvolvido em prol da disciplina de Laboratório de Aplicações Web e Base de Dados.</p>
<p>O projeto foi contruido com ajuda da FrameWork .Net</p>
<p>Desenvolvedores: Depois de dia 8 de Janeiro o projeto foi desenvolvido apenas por Vitor Novo</p>