@{
    ViewData["Title"] = "Privacidade";
}
<h1>@ViewData["Title"]</h1>

<p>Este Website foi desenvolvido a prol da disciplina de Labóratorio de aplicações web e Base de Dados.</p>
<p>O projeto foi contruido com ajuda da FrameWork .Net</p>
<p>Desenvolvedores: Vitor Novo <br/> Simões Lopes <br/>Vitor Moreira <br/> David Afonso </p>