@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
          
<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User) )
{
        <style>
            
            .dropbtn {
                background-color: white;
                
                color: black;
                padding: 16px;
                font-size: 16px;
                border: none;
                cursor: pointer;
            }
            
            .dropdown {
                position: relative;
                display: inline-block;
            }

           
            .dropdown-content {
                display: none;
                position: absolute;
                background-color: white;
                max-width: 160px;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                z-index: 1;
            }
                
                .dropdown-content a {
                    color: black;
                    padding: 12px 16px;
                    text-decoration: none;
                    display: block;
                }
                   
                .dropdown-content a:hover {
                        background-color: whitesmoke;
                }
         
            .dropdown:hover .dropdown-content {
                display: block;
            }
          
            .dropdown:hover .dropbtn {
                background-color: whitesmoke;
            }
        </style>

     <div class="dropdown">
        <button class="dropbtn">Perfil</button>
        <div class="dropdown-content">
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage" style="text-align: left;">Dashboard</a>              
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("HomeScreen", "JogoModels")">
                    <button type="submit" class="nav-link btn btn-link text-dark" style="text-align: left;">Logout</button>
                </form>                                    
        </div>
     </div>    
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Iniciar Sessão</a>
    </li>
}
</ul>
