@using LabProjeto.Data;
@using Microsoft.AspNetCore.Identity
@using LabProjeto.Models

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject ApplicationDbContext _context

@{

    var user = UserManager.GetUserAsync(User).Result;
    if (user != null)
    {

        var perfil = _context.PerfilModel.SingleOrDefault(p => p.utilizadorId == user.Id);
        <ul class="navbar-nav">
            @if (User.Identity.IsAuthenticated)
            {
                <li class="nav-item" style="color: black;">
                    Saldo: @perfil.saldo
                </li>
            }

        </ul>
    }

}

