@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Dados Pessoais";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>@ViewData["Title"]</h3>

<div class="row">
    <div class="col-md-6">
        <p>A sua Conta contém os dados que você nos forneceu, aqui você tem a opção de eliminar a sua conta indefinitivamente</p>
        
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger">Delete</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
